{% extends 'admin/baseadmin.html' %} 
{% block content %}
<div style="background-color:black">
	<a href="/admin/user_list/create">Create</a>
</div>
<table>
	<tr>
		<th>Username</th>
		<th>Email</th>
		<th>Province</th>
		<th>Postal Number</th>
		
	</tr>
{%for user in users%}

<tr>
<th>{{user.username}}</th>
 <th>{{user.email}}</th>
  <th>{{user.province}}</th>
   <th>{{user.postalnumber}}</th>
<th> <a href="/admin/user_list/{{user.id}}/edit">Edit</a></th>
 <th><a href="/admin/user_list/{{user.id}}/eliminate" onclick="return confirm('Are you sure you want to delete this?')">Eliminate</a></th>
</tr>

{%endfor%}
</table>

{% endblock %} 
