{% extends 'index.html'%}
{%block content%}
<div class="categori">Categories
<ul>
  <a href="/search_category?query_name={{ 1 }}" value="1">Vehicles</a>
  <a href="/search_category?query_name={{ 2 }}" value="2">Inmobles</a>
  <a href="/search_category?query_name={{ 3 }}" value="3">Mobles</a>
  <a href="/search_category?query_name={{ 4 }}" value="4">Moda</a>
  <a href="/search_category?query_name={{ 5 }}" value="5">Nens</a>
  <a href="/search_category?query_name={{ 6 }}" value="6">Electrónica</a>
  </ul>
  <ul>
  <a href="/search_category?query_name={{ 7 }}" value="7">Mascotes</a>
  <a href="/search_category?query_name={{ 8 }}" value="8">Treball i formació</a>
  <a href="/search_category?query_name={{ 9 }}" value="9">Esports</a>
  <a href="/search_category?query_name={{ 10 }}" value="10">Negocis i serveis</a>
  <a href="/search_category?query_name={{ 11 }}" value="11">Altres</a>
  </ul>
  </div>
  
{%endblock%} 
